.header {
    width: 100%;
    display: flex;
    align-items: center;
    height: 12.6rem;
    padding: 3.9rem 12.4rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}