@import 'abstracts/variables';

@import 'base/base';
@import 'base/fonts';
@import 'base/typography';
@import 'base/utilities';

@import 'components/button';
@import 'components/card1';
@import 'components/card2';
@import 'components/featured-house';
@import 'components/hero';
@import 'components/input';
@import 'components/label';
@import 'components/tour';
@import 'components/user';

@import 'layout/header';
@import 'layout/navigation';

