.btn {
    &,
    &:link,
    &:visited {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;
        padding: 1.2rem 2.4rem;
        line-height: 2.4rem;
        text-align: center;
        text-transform: capitalize;
        border: none;
        border-radius: 10rem;
        cursor: pointer;
        color: $color-white;
        background-color: $color-primary;
    }

    &:hover,
    &:active {
        background-color: $color-primary-dark;
    }

    &--only-icon {
        padding: 1.2rem;
        border-radius: 50%;
    }

    &--secondary {
        background-color: $color-white;
        color: $color-primary-dark;
        border: 1px solid $color-primary-dark;

        &:hover,
        &:active {
            background-color: $color-primary-light;
        }

    }

    &--tertiary {
        color: $color-primary;
        background-color: $color-primary-light;

        &:hover,
        &:active {
            color: $color-primary;
            background-color: $color-primary-light;
        }
    }

    &__icon {

        & path {
            fill: $color-white;
        }

        &--secondary {
            & path {
                fill: $color-primary-dark;
            }
        }

        &--tertiary {
            & path {
                fill: $color-primary;
            }
        }
    }
}