.card2 {
    width: 78.4rem;
    height: 42.9rem;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.5s;

    &__info {
        width: 78%;
        display: flex;
        flex-direction: column;
        padding: 3.2rem;
        border-radius: 1.6rem;
        background-color: $color-white;
        box-shadow: 0 .8rem 3.2rem 0 rgba(12, 21, 55, 0.09);
        position: absolute;
        bottom: -8.4rem;

    }

    &__paragraph {
        color: $color-grey3;
    }

    &__user-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }
}