.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 49.6rem;
    padding: 1.6rem 2.4rem;
    border-radius: 2.8rem;
    border: 1px solid $color-grey1;
    background-color: $color-white;

    &--complex {
        gap: 1.6rem;
        padding: .4rem .4rem .4rem 2.4rem;
    }

    &__text {
        width: 50%;
        border: none;
        color: $color-black;
        line-height: 2.4rem;
        margin-right: auto;

        &::placeholder {
            color: $color-grey2;
        }
        
        &:focus {
            border: none;
            outline: none;
        }
    }
}