.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    &__img-1--size40 {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background: url('public/img/avatar01.jpeg') center/cover no-repeat;
    }

    &__img-2--size40 {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background: url('public/img/avatar02.jpeg') center/cover no-repeat;
    }

    &__img-3--size40 {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background: url('public/img/avatar03.jpeg') center/cover no-repeat;
    }

    &__img-4--size40 {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background: url('public/img/avatar04.jpeg') center/cover no-repeat;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }

    &__address {
        color: $color-grey2;
    }
}