.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    &__img-4--size32 {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 3.2rem;
        background: url('public/img/avatar04.jpeg') center/cover no-repeat;
        box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.10);
    }

    &__img-5--size32 {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 3.2rem;
        background: url('public/img/avatar05.jpeg') center/cover no-repeat;
        box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.10);
    }

    &__img-6--size32 {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 3.2rem;
        background: url('public/img/avatar06.jpeg') center/cover no-repeat;
        box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.10);
    }

    &__img-7--size32 {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 3.2rem;
        background: url('public/img/avatar07.jpeg') center/cover no-repeat;
        box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.10);
    }

    &__img-1--size40 {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background: url('public/img/avatar01.jpeg') center/cover no-repeat;
    }

    &__img-2--size40 {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background: url('public/img/avatar02.jpeg') center/cover no-repeat;
    }

    &__img-3--size40 {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background: url('public/img/avatar03.jpeg') center/cover no-repeat;
    }

    &__img-4--size40 {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        background: url('public/img/avatar04.jpeg') center/cover no-repeat;
    }

    &__img-1--size56 {
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 5.6rem;
        background: url('public/img/avatar01.jpeg') center/cover no-repeat;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: .4rem;
    }

    &__address {
        color: $color-grey2;
    }
}