//COLORS
$color-white: #FFF;
$color-grey1: #E0E3EB;
$color-grey2: #888B97;
$color-grey3: #626687;

$color-primary: #10B981;
$color-primary-dark: #0B9567;
$color-primary-light: #D1FAE5;
$color-secondary: #F59E0B;
$color-black: #1B1C57;

$color-danger: #EF4444;
$color-danger-light: #FEE2E2;
$color-info: #1D4ED8;
$color-info-light: #DBEAFE;

